body {
    background-color: #f9fafc;
    font-family: 'Open Sans';
    font-size: 125%;
}

nav {
    display: flex;
    flex-direction: column-reverse;
}

a, p, h4 {
    color:  #69696a;
    padding: 0.3em;
}

a {
    text-decoration: none;
}

h4 {
    order: 2;
    margin: 0;
}

p {
    border-left: 2px solid #69696a;
    padding: 0 0 0 1rem;
}

.flex_container {
    display: flex;
}

.col1 {
    padding: 0 0 0 1em;
}

.highlight {
    text-align: center;
    background-color: #000;
    color: #f9fafc;
    border-radius: 2rem;
    padding: 0.70rem;
}

a.highlight {
    display: block;
}

@media only screen and (min-width: 480px) {
    body {
        font-size: 100%;
    }
    
    nav {
        flex-direction: row-reverse;
    }

    h1 {
        font-size: 150%;
        padding: 4rem 0 0 0;
    }

    h4 {
        flex-grow: 2;
    }

    a.highlight {
        display: inline-block;
        position: fixed;
        bottom: 0;
        left: 50%;
    }

    .flex_container {
        flex-direction: row;
    }

    .col1 {
        width: 50%;
    }

    .col2 {
        position: relative;
        width: 50%;
        height: 23rem;
    }

    .circle1 {
        background-color: rgba(247, 193, 162, 0.7);
        height: 130px;
        width: 130px;
        border-radius: 100%;
        top: 14em;
        left: 35.5rem;
        z-index: 3;
        position: absolute;
    }
    
    .circle2 {
        background-color: rgba(207, 130, 213, 0.6);
        height: 100px;
        width: 100px;
        border-radius: 100%;
        top: 10em;
        left: 37rem;
        z-index: 1;
        position: absolute;
    }
    
    .circle3 {
        background-color: rgba(247, 136, 167, 0.6);
        height: 200px;
        width: 200px;
        border-radius: 100%;
        top: 9em;
        left: 26.5rem;
        z-index: 2;
        position: absolute;
    }
}